.container {
    background: black;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.red {
    width: 150px;
    height: 150px;
    background: red;
}
.green {
    width: 150px;
    height: 150px;
    background: green;
}
.yellow {
    width: 150px;
    height: 150px;
    background: yellow;
}

.selected {box-shadow: 0px 0px 9px 4px white; } 
.blink {box-shadow: 0px 0px 9px 4px white;   
    animation: glow 0.1s linear infinite alternate; }  
    @keyframes glow{   to {     box-shadow: 0px 0px 30px 20px white;   } }